form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.non-semantic-form {
  gap: 1rem;

  & fieldset {
    /* override defaults */
    padding: 0rem;
    border: 1px solid #aaa;

    background-color: #fafafa;

    /* rounded borders */
    border-radius: 1rem;
    overflow: hidden;

    /* flow */
    display: flex;
    flex-direction: column;

    /* checkbox padding */
    & * {
      padding: 0.5rem 1.5rem;
    }

    --focus-color: rgba(125, 125, 125, 0.5);

    /* checkbox state */
    & [aria-checked="true"] {
      --focus-color: rgba(255, 255, 255, 0.5);
      background-color: hsl(0, 100%, 30%);
      color: white;
    }

    /* adds borders between elements */
    & > * + * {
      border-top: 1px solid #aaa;
    }

    & *:focus-visible {
      outline: none;
    }

    & *:focus {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 5rem;
        height: 100%;

        background: linear-gradient(
          90deg,
          var(--focus-color) 0%,
          rgba(9, 9, 121, 0) 30%
        );
      }
    }
  }
}

.svg-form-map {
  /* Just to constraint the size of the map */
  max-width: 600px;

  & [role="checkbox"] {
    transition: fill 0.1s ease-in-out;
  }

  & [aria-checked="true"] {
    fill: hsl(0, 100%, 30%);

    &:hover {
      fill: hsl(0, 100%, 40%);
      cursor: pointer;
    }
  }

  & [aria-checked="false"] {
    fill: hsl(0, 0%, 85%);

    &:hover {
      fill: hsl(0, 0%, 65%);
      cursor: pointer;
    }
  }

  & *:focus {
    outline: none;
    stroke: hsl(0, 0%, 0%);
    stroke-width: 0.2rem;
  }
}
